<div>
<table align="center" class="bo">
    <tbody>
        <tr >
            <td class="content" colspan="3">
                <h1 align="center">Introduccion</h1>
                <hr>
                <br>
                <p align="center" class="intro">
                    En esta materia aprenderemos a sobre diferentes tecnologias aplicadas a la web como HTML, CSS, PHP y JavaScript ademas de diferentes formas para el desarrollo de contenido web
                     
                </p>
            </td>
            
        </tr>
        <tr>
            <td><div class="sp"></div></td>
        </tr>
        <tr>
            <td class="content-2">
                <br>
                <h1 align="center">Duracion</h1>
                <hr>
                <p class="intro">En esta materia tendras, por semana, que en total suman casi 4 horas que seran dividas en dos clases. <br> la primera de 1:30 horas <br> la segunda de 2:15 horas </p>
            </td>
            <td class="tdsp"></td>
            <td class="content-2">
                <br>
                <h1 align="center">Creditos</h1>
                <hr>    
                <p class="intro">Esta materia solo tiene un costo de 6 creditos </p>
                <br><br>
                <br>
                <br>
                <br><br>
                
                
            </td>
            
        </tr>
        <tr>
            <td><div class="sp"></div></td>
        </tr>
        <tr >
            <td class="content" colspan=3>
                <h1 align="center">Modulos</h1>
                <hr>
                <br>
                <p align="center" class="intro">
                    En esta materia cursaremos 3 modulos de diferentes que abarcaran los temas necesarios para nuestra correcta formacion
                </p>
            </td>
            
        </tr>
    </tbody>
    <tr>
        <td><div class="sp"></div></td>
    </tr>
</table>
<table align="center" class="bo"> 
    <tr>
        <td class="content-3"> 
            <h3 align="center">Introducción a la Tecnología WEB</h3>
            <hr>
            <p class="intro">En este modulo empezaremos por lo basico  de las tecnologias web como HTML y CSS ademas un de PHP </p>

        </td>
        <td class="tdsp"></td>
        <td class="content-3"> 
            <h3 align="center">Solución Tecnologica WEB</h3>
            <hr>
            <p class="intro">Esta parte se centrara mucho en JavaScript que sera el tema principal pero ademas empezaremos a ver un poco de frameworks </p>
        </td>
        <td class="tdsp"></td>
        <td class="content-3"> <h3 align="center">CMS y Framework</h3>
            <hr>
            <p class="intro">En esta ultima parte nos centraremos en aprender todo sobre frameworks y como manejarlos asimismo veremos un poco del manejo de un CMS</p>
        </td>
    </tr>
    <tr>
        <div class="sp"></div>
    </tr>
    <tr>
        <td colspan="5" class="content">
            <h3 class="intro" align="center">Inscribete! </h3>
            <p class="intro" align="center"> Contactos:   Ing. Marcelo Ticona | <span class="b">Telefono:</span> 77757541</p>
        </td>
    </tr>
</table>
</div>
